/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This applies some "dark mode" styling to the button in the hero area. */
[data-theme='dark'] .heroButton {
  border-color: var(--ifm-hero-text-color);
  background-color: var(--ifm-hero-text-color);
  color: var(--ifm-hero-background-color);
}